{% extends "base.html" %}

{% block extra %}

<li><a href="/about">About</a></li>

{% endblock extra %}

{% block main%}


<div class="container">




    <h1 style="text-align: center">A beautiful place to search for online services on craigslist
    </h1>
    <div class="row">
        <div class="col s4">

            <div class="center">
                <i class="large material-icons" style="color: #8e24aa">landscape</i>
                <p>Very quick service</p>
                <p class="light center">beautiful interface for u guys</p>
            </div>
        </div>
    </div>
</div>



<div class="container">

    <h2>
        Namaskaram
    </h2>

    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col s8">
                <input type="text" name="search" placeholder="search">
            </div>
            <div class="input-field col s4 ">
                <i class="material-icons prefix">textsms</i>
                <input type="text" id="autocomplete-input" class="autocomplete" name="auto">
                <label for="autocomplete-input">Select City</label>
            </div>




            <button class="btn waves-effect waves-light purple darken-1" type="submit" name="action">Submit
                <i class="material-icons right">spa</i>
            </button>
        </div>

</div>

</form>


{% block content %}

{% endblock content %}


{% endblock main%}